h1{
 font-family: 'Abril Fatface', cursive;
 background: lightblue;
 border: solid 15px;
 border-color: lightblue;
}
img {
  height: 200px;
  width: 300px;
  border: solid 8px;
  border-color: white;
}
article{
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
}
body{
  background-color: white;
}

@media screen and (max-width: 640px){
article{
  display: flex;
  flex-direction: column;
}
img {
  height: 450px;
  width: 500px;
  border: solid 6px;
  border-color: white;
}
}
